@model IEnumerable<IdentityRole>

@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService authorizationService

@{
    ViewBag.Title = "All roles";
}

<h1>All Roles</h1>
<a class="btn btn-primary auto-width mb-3" asp-action="CreateRole" asp-controller="Administration">Add New Role</a>

@if (Model.Any())
{
    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id : @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">Role Name : @role.Name</h5>
            </div>
            <div class="card-footer">
                @if ((await authorizationService.AuthorizeAsync(User, "AdminRolePolicy")).Succeeded)
                {
                    <a asp-action="EditRole" asp-controller="Administration" asp-route-id="@role.Id"
                        class="btn btn-primary">Edit</a>
                }

                @if ((await authorizationService.AuthorizeAsync(User, "DeleteRolePolicy")).Succeeded)
                {
                    <button type="button" class="btn btn-danger m-1" data-toggle="modal"
                            data-target="#deleteModal_@role.Id">
                        Delete
                    </button>
                }
            </div>
        </div>

        // Modal that appears when user clicks delete button
        <div id="deleteModal_@role.Id" class="modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete @role.Name</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete @role.Name?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary m-1" data-dismiss="modal">
                            Cancel
                        </button>
                        <form method="post" asp-action="DeleteRole" asp-controller="Administration"
                              asp-route-id="@role.Id" class="m-1 auto-width d-inline">
                            <button type="submit" class="btn btn-danger m-1">
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    }
}
else
{
    <div class="card">
        <div class="card-header">
            No roles created yet.
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a role.
            </h5>
            <a class="btn btn-primary auto-width" asp-action="CreateRole" asp-controller="administration">
                Create Role
            </a>
        </div>
    </div>
}