@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "All roles";
}

<h1>All Roles</h1>
<a class="btn btn-primary auto-width mb-3" asp-action="CreateRole" asp-controller="Administration">Add New Role</a>

@if (Model.Any())
{
    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id : @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">Role Name : @role.Name</h5>
            </div>
            <div class="card-footer">
                <form asp-action="DeleteRole" asp-controller="Administration" asp-route-id="@role.Id" method="post">
                    <a asp-action="EditRole" asp-controller="Administration" asp-route-id="@role.Id" class="btn btn-primary">Edit</a>
                    <span><a id="deleteSpan_@role.Id" class="btn btn-danger text-white" onclick="confirmDelete('@role.Id', true)">Delete</a></span>
                    <div id="confirmDeleteDiv_@role.Id" style="display:none" class="mt-1">
                        <p>Are you sure you want to delete?</p>
                        <button type="submit" class="btn btn-danger">Yes</button>
                        <a class="btn btn-primary text-white" onclick="confirmDelete('@role.Id', false)">No</a>
                    </div>
                </form>
            </div>
        </div>

    }
}
else
{
    <div class="card">
        <div class="card-header">
            No roles created yet.
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a role.
            </h5>
            <a class="btn btn-primary auto-width" asp-action="CreateRole" asp-controller="administration">
                Create Role
            </a>
        </div>
    </div>
}


@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}