@model IEnumerable<Office>

@{
    ViewBag.Title = "Office List";
}

<h4 class="mt-2">Offices : @ViewBag.OfficeCount</h4>
<div id="sortOptions">
    <span>Sort By: </span>
    <a asp-action="Index" asp-controller="Office" asp-route-sortType="name_asc" class="btn btn-link auto-width m-1">
        Name Ascending
        <span>
            <svg class="bi bi-arrow-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v9a.5.5 0 01-1 0V4a.5.5 0 01.5-.5z" clip-rule="evenodd" />
                <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 01.708 0l3 3a.5.5 0 01-.708.708L8 3.707 5.354 6.354a.5.5 0 11-.708-.708l3-3z" clip-rule="evenodd" />
            </svg>
        </span>
    </a>
    <a asp-action="Index" asp-controller="Office" asp-route-sortType="name_desc" class="btn btn-link auto-width m-1">
        Name Descending
        <span>
            <svg class="bi bi-arrow-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.646 9.646a.5.5 0 01.708 0L8 12.293l2.646-2.647a.5.5 0 01.708.708l-3 3a.5.5 0 01-.708 0l-3-3a.5.5 0 010-.708z" clip-rule="evenodd" />
                <path fill-rule="evenodd" d="M8 2.5a.5.5 0 01.5.5v9a.5.5 0 01-1 0V3a.5.5 0 01.5-.5z" clip-rule="evenodd" />
            </svg>
        </span>
    </a>
    <a asp-action="Index" asp-controller="Office" asp-route-sortType="minimumManning_asc" class="btn btn-link auto-width m-1">
        Minimum Manning Ascending
        <span>
            <svg class="bi bi-arrow-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v9a.5.5 0 01-1 0V4a.5.5 0 01.5-.5z" clip-rule="evenodd" />
                <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 01.708 0l3 3a.5.5 0 01-.708.708L8 3.707 5.354 6.354a.5.5 0 11-.708-.708l3-3z" clip-rule="evenodd" />
            </svg>
        </span>
    </a>
    <a asp-action="Index" asp-controller="Office" asp-route-sortType="minimumManning_desc" class="btn btn-link auto-width m-1">
        Minimum Manning Descending
        <span>
            <svg class="bi bi-arrow-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.646 9.646a.5.5 0 01.708 0L8 12.293l2.646-2.647a.5.5 0 01.708.708l-3 3a.5.5 0 01-.708 0l-3-3a.5.5 0 010-.708z" clip-rule="evenodd" />
                <path fill-rule="evenodd" d="M8 2.5a.5.5 0 01.5.5v9a.5.5 0 01-1 0V3a.5.5 0 01.5-.5z" clip-rule="evenodd" />
            </svg>
        </span>
    </a>
</div>
<div class="card-deck">
    @foreach (Office office in Model)
    {
        <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
            <div class="card-header">
                <h3>@office.Name</h3>
            </div>
            <div class="card-body">
                <h4>
                    Minimum Manning :
                    <span id="minimumManningValue_@office.Id">
                        @office.MinimumManning
                    </span>
                </h4>
                <h4 id="currentManningElement_@office.Id">
                    Current Manning :
                    <span id="currentManningValue_@office.Id">
                        @office.Employees.Where(e => e.OfficeId == office.Id).Count()
                    </span>
                </h4>
            </div>
            <div class="card-footer text-center">
                <a asp-action="details" asp-controller="office" asp-route-id="@office.Id" class="btn btn-primary m-1">Details</a>
                <a asp-action="edit" asp-controller="office" asp-route-id="@office.Id" class="btn btn-primary m-1">Edit</a>
                @if (signInManager.IsSignedIn(User))
                {
                    <button type="button" class="btn btn-danger m-1" data-toggle="modal" data-target="#deleteModal_@office.Id">Delete</button>
                }
                else
                {
                    <a asp-action="login" asp-controller="office" class="btn btn-danger m-1">Delete</a>
                }
            </div>
        </div>

        // Modal that appears when user clicks delete button
        <div id="deleteModal_@office.Id" class="modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete @office.Name</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete @office.Name?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary m-1" data-dismiss="modal">Cancel</button>
                        <form method="post" asp-action="delete" asp-controller="office" asp-route-id="@office.Id" class="m-1 auto-width d-inline">
                            <button type="submit" class="btn btn-danger m-1">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <script src="~/js/OfficeIndexScript.js"></script>
        <script type="text/javascript">
                checkManning("@office.Id");
        </script>

    }

</div>

