@model EmployeeDetailsViewModel
@inject IOfficeRepository _officeRepository

@{
    ViewBag.Title = "Employee Details";
    var photoPath = "~/Images/" + (Model.Employee.PhotoPath ?? "noimage.jpg");
    // TODO: Create nested card with employees belonging to office
}

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Employee.LastName, @Model.Employee.FirstName</h1>
            </div>
            <div class="card-body text-center">
                <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />
                <div class="mt-3">
                    <h4>Employee ID: @Model.Employee.Id</h4>
                    <h4>Email: @Model.Employee.Email</h4>
                    <h4>Office: @Model.OfficeName</h4>
                    <h4>AFSC: @Model.AfscDisplayName</h4>
                </div>
            </div>
            <div class="card-footer text-center">
                <a asp-action="index" asp-controller="employee" class="btn btn-primary">Back</a>
                <a asp-action="edit" asp-controller="employee" asp-route-id="@Model.Employee.Id" class="btn btn-primary">Edit</a>
                @if (signInManager.IsSignedIn(User))
                {
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal_@Model.Employee.Id">Delete</button>
                }
                else
                {
                    <a asp-action="login" asp-controller="account" class="btn btn-danger">Delete</a>
                }
            </div>
        </div>
    </div>
</div>

<div id="deleteModal_@Model.Employee.Id" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete @Model.Employee.LastName, @Model.Employee.FirstName</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete @Model.Employee.LastName, @Model.Employee.FirstName?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary m-1" data-dismiss="modal">Cancel</button>
                <form method="post" asp-action="delete" asp-controller="employee" asp-route-id="@Model.Employee.Id" class="m-1 auto-width d-inline">
                    <button type="submit" class="btn btn-danger m-1">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/JavaScript.js"></script>
}